{% import 'partials/about.html' as partial_about -%}
{% import 'partials/section.html' as partial_section -%}
{% import 'partials/inventory.html' as partial_inventory -%}

{% extends "base.html" %}

{% block content %}
<div id="fullpage">
  {% if config.extra.show_about %}
  <div class="section hero is-fullheight page" id="about">
    {{ partial_about::display() }}
  </div>
  {% endif %}

  {% if config.extra.show_inventory %}
  <div class="section hero is-fullheight page" id="education">
    {{ partial_inventory::display() }}
  </div>
  {% endif %}

  {% if config.extra.show_blog %}
  <div class="section hero is-fullheight page" id="blog">
    {{ partial_section::display(title="blog",path="blog/_index.md") }}
  </div>
  {% endif %}

</div>
{% endblock content %}